
<div class="jumbotron bg-secondary-subtle d-flex justify-content-center align-items-center flex-column fw-lighter">
  <h1 class="display-4 fw-lighter"><%= friend.first_name %> <%= friend.last_name %></h1>
  <p class="card-text">
      <strong class="fs-5 fw-lighter ">Email:</strong>
      <%= friend.email %> | <strong class='fs-5 fw-lighter'>Phone:</strong>
      <%= friend.phone %>
  </p>
  <hr class="my-4">
</div>