<h1>Editing friend</h1>

<%= render "form", friend: @friend %>

<br>

<div class='d-flex'>
  <%= link_to "Show friend", @friend, class:'btn btn-dark' %> 
  <td><%= button_to "Delete Friend", @friend, method: :delete, class:'btn btn-danger mx-3', data:{confirm: "Are you sure?"} %></td>
  <%= link_to "Back to friends", friends_path, class:'btn btn-dark' %>
</div>
