<h1> Welcome to my friend list...</h1>
<h3>A software developer with five years of military experience and a unique perspective in the field of software development.<br /><br /> Demonstrates a passion for continuous learning and growth, consistently seeking opportunities to enhance skills and knowledge.<br /><br /> Possesses a strong commitment to excellence, problem-solving abilities, and effective collaboration skills to create a significant impact.</h3> 

